---
import Layout from '../layouts/Layout.astro';
import HeaderComponent from "../components/headerComponent.astro";

---

<Layout>
	<div class="">
		<div class="w-full flex flex-col relative overflow-hidden h-screen"> <!-- Add h-96 for height -->
			<div class="absolute inset-0 bg-black opacity-60 z-10"></div> <!-- Mask -->
			<img src="../public/banner.jpg" class="self-center w-full h-full object-cover absolute inset-0 z-0" alt="" /> <!-- absolute inset-0 z-0 -->
			<p class="absolute top-65 w-full text-white text-6xl font-bold italic z-20 text-center px-4">
				<span class="text-[#e63946]">S</span>ILKSONG <span class="text-[#e63946]">S</span>PEEDRUNNING <span class="text-[#e63946]">S</span>TRATS
			</p>
			<p class="absolute top-90 left-1/2 -translate-x-1/2 text-gray-200 w-120 italic max-w-full px-4 text-center z-20">
				A compendium of speedrunning explanations for Silksong speedrunning. Containing routes, skips, tricks, tech, glitches, and more.
			</p>
			<div class="hover:bg-white cursor-pointer animate-bounce hover:text-black transition-colors duration-400 absolute top-120 tracking-widest left-1/2 -translate-x-1/2 h-15 w-55 justify-center items-center font-bold flex flex-col border-1 border-white text-white top-50 z-50">WHERE TO START?</div>
		</div>
	</div>
	<div class="grid grid-cols-4 h-10 justify-center items-center">
		<p class="text-white text-center border-1 border-[#e63946] py-3 bg-[#e63946] font-bold tracking-widest cursor-pointer flex flex-row justify-center items-center gap-2"><img src="/public/Bell.png" class="h-5 w-5 flex"/>BELLS ROUTE</p>
		<a href="/key"><p class="text-gray-400 font-bold text-center border-b-1 border-[#e63946] py-3 hover:bg-stone-900 transition-all duration-300 flex flex-row justify-center items-center gap-2"><img src="/public/Simple.png" class="h-5 w-5 flex"/>KEY ROUTE</p></a>
		<p class="text-gray-400 font-bold text-center border-b-1 border-[#e63946] py-3 hover:bg-stone-900 transition-all duration-300 flex flex-row justify-center items-center gap-2"><img src="/public/Flea.png" class="h-5 w-5 flex"/><a href="/key">FLEAS ROUTE</a></p>
		<p class="text-gray-400 font-bold text-center border-b-1 border-[#e63946] py-3 hover:bg-stone-900 transition-all duration-300 flex flex-row justify-center items-center gap-2"><img src="/public/Wraith.png" class="h-5 w-5 flex"/><a href="/key">MIST ROUTE</a></p>
	</div>
	<p class="text-white w-full text-center font-bold text-4xl my-10 tracking-widest">ANY% BELLS ROUTE</p>
	<div class="flex flex-row justify-center items-center mt-5 mb-10 bg-stone-950 ml-40 mr-35">
		<div class="h-35 w-2 bg-[#e63946]"></div>
		<p class="text-gray-300 ml-5 mr-5 ">This is by far the most popular route, due to it being fairly beginner-friendly and a great entry point for speedrunning. Bells gets 5 bells, fights The Last Judge to go through the Grand Gate for Act 2. It's ~20 seconds faster than a cloak mist due to some tricky skips in Blasted Steps, and a craw pogo to Greymoor bell. There are easier alternatives to these skips, however, by doing the slower, easier version, you lose the 20-second time save this route has over a Cloaked Mist. This route without the skips may be the easiest for beginners, and is good practice if you want to add the skips in later.
		</p>
	</div>
	<div class="flex flex-col gap-y-15">
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/-vVCdHi3YSU"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Tutorial to Swiftstep</p>
				<div class="grid grid-cols-3 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Tricks</li>
						<li class="group ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Beastfly Pogo<div class="text-white/40 group-hover:text-white transition-colors duration-300">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Archie Skip<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Flintstone Pogo<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Moss Mother<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Bell Beast<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Hunter's March Arena<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Neutral Pogos<div class="text-white/40 justify-end">></div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/sczmd6dLwws"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Swiftstep to Moorwing</p>
				<div class="grid grid-cols-3 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Tricks</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Fourth Chorus Skip<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Craw Skip<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Lace<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Greymoor Arena<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Moorwing<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Pogo/Dive/Wave Dashing<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Hokers<div class="text-white/40 justify-end">></div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/0fZIA3Rw7Bo"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Shellwood to Last Judge</p>
				<div class="grid grid-cols-3 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Tricks</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Garama Skip<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Flower Heal Skip<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Blasted Steps Skip 1<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Blasted Steps Skip 2<div class="text-white/40 justify-end">></div></li>

					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Shellwood Arena<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Widow<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Last Judge<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Shellwood Enemy Pogo<div class="text-white/40 justify-end">></div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/3EFLgAN8FgM"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Act 2 Start To Trobbio</p>
				<div class="grid grid-cols-2 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Cogwork Dancers<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Whispering Vaults Arena<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Trobbio<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Scales<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Citadel Movement<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Grand Reed Pogos<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Cogwork Core Movement<div class="text-white/40 justify-end">></div></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/2jfVxdrjMjo"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Underworks to HHA</p>
				<div class="grid grid-cols-2 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Clawline Arena<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">High Halls Arena<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Movement To Sacred Cylinder<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Movement To Cogwork Core<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Upper Cogwork Core Climb<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Architect Puzzle<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Cogwork Drop<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Movement to High halls<div class="text-white/40 justify-end">></div></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-[40%_60%] mx-40 gap-5 justify-center items-center">
			<iframe
				class="aspect-video rounded-lg shadow-md shadow-[#e63946]/40 "
				src="https://www.youtube.com/embed/H3O8m-DYaxk"
				title="YouTube video player"
				allow="accelerometer; encrypted-media; picture-in-picture"
				allowfullscreen>
			</iframe>
			<div>
				<p class="text-white text-2xl italic border-b-1 border-[#e63946]">Lace 2 and GMS</p>
				<div class="grid grid-cols-2 text-white py-5">
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Combat</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Lace 2<div class="text-white/40 justify-end">></div></li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Grand Mother Silk<div class="text-white/40 justify-end">></div></li>
					</ul>
					<ul class="mx-5 flex flex-col gap-y-2">
						<li class="font-bold text-[#e63946] pb-3">Movement</li>
						<li class="ring-1 ring-white/20 rounded-2xl border-white text-white/50 text-[13px] py-1 px-4 flex flex-row justify-between hover:text-white/100 hover:ring-white/60 transition-all duration-300 cursor-pointer">Movement To Grand Mother Silk<div class="text-white/40 justify-end">></div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</Layout>
