---

import Layout from "../layouts/Layout.astro";---

<Layout>
    <div class="h-17"></div>
    <div class="justify-center items-center flex flex-col my-5">
        <iframe
                src="https://drive.google.com/file/d/1BiMhRYD58bbxwp1Einl02fz7EgTZXl_2/preview"
                width="800"
                height="450"
                allow="autoplay">
        </iframe>
    </div>

    <h1 class="text-white bg-stone-950 w-50 flex flex-row items-center font-body text-2xl mx-90 font-extralight"><div class="h-9 w-1 bg-red-500"></div><p class="mx-3">Beastfly Pogo</p></h1>
    <p class="text-gray-300 font-body font-light mx-90">A trick that allows you to skip an arena by pogo-ing a beastfly enemy.</p>
</Layout>