---

import Layout from "../layouts/Layout.astro";---

<Layout>
    <div class="h-25"></div>
    <h1 class="text-white font-body font-light mx-35 text-4xl my-2">Any% Tricks</h1>
    <div class="border-t-1 border-stone-800 w-310 h-1 mx-35"></div>
    <div class="grid grid-cols-3 h-105 mx-50 gap-10 mt-10">
        <div class="grid grid-rows-[40%_60%] bg-stone-950 ring-1 ring-stone-900 rounded-2xl hover:scale-105 hover:ring-red-500 hover:bg-stone-900 transition-all duration-300">
            <div class="bg-stone-800 w-full rounded-t-2xl relative overflow-hidden">
                <img src="https://github.com/Noslepivy/The-Silksong-Speedrunning-Mega-Thread/blob/main/Gifs/General%20Movement/air-pogo.gif?raw=true" class="object-cover overflow-hidden opacity-90">
            </div>
            <div class="text-white mx-5 mt-7 mb-5 flex flex-col gap-y-4 relative">
                <h1 class="text-2xl flex flex-wrap relative items-center">Title
                    <div class="right-0 absolute bg-red-500 text-[10px] text-center justify-center items-center font-bold ring-red-500 py-0.5 w-14 rounded-2xl">Key</div></h1>
                <p class="text-gray-400 text-[13px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="grid grid-cols-3 gap-5 text-[12px] text-center">
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#movement</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#swift step</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#RP</div>
                </div>
                <button class="cursor-pointer w-full group transition-all duration-200 bg-red-500 py-2 rounded-2xl justify-center content-center absolute bottom-0 flex flex-row font-body font-light">See More
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right group-hover:pl-2 group-hover:scale-150 transition-all duration-200"><path d="m9 18 6-6-6-6"/></svg>
                </button>			</div>
        </div>
        <div class="grid grid-rows-[40%_60%] bg-stone-950 ring-1 ring-stone-900 rounded-2xl hover:scale-105 hover:ring-red-500 hover:bg-stone-900 transition-all duration-300">
            <div class="bg-stone-800 w-full rounded-t-2xl relative overflow-hidden">
                <img src="https://github.com/Noslepivy/The-Silksong-Speedrunning-Mega-Thread/blob/main/Gifs/General%20Movement/jump-dashing.gif?raw=true" class="object-cover overflow-hidden opacity-90">
            </div>
            <div class="text-white mx-5 mt-7 mb-5 flex flex-col gap-y-4 relative">
                <h1 class="text-2xl flex flex-wrap relative items-center">Title
                    <div class="right-0 absolute bg-yellow-600 text-[10px] text-center justify-center items-center font-bold ring-red-500 py-0.5 w-14 rounded-2xl">
                        Bells</div></h1>
                <p class="text-gray-400 text-[13px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="grid grid-cols-3 gap-5 text-[12px] text-center">
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#movement</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#swift step</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#RP</div>
                </div>
                <button class="cursor-pointer w-full group transition-all duration-200 bg-red-500 py-2 rounded-2xl justify-center content-center absolute bottom-0 flex flex-row font-body font-light">See More
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right group-hover:pl-2 group-hover:scale-150 transition-all duration-200"><path d="m9 18 6-6-6-6"/></svg>
                </button>		</div>
        </div>
        <div class="grid grid-rows-[40%_60%]  bg-stone-950 ring-1 ring-stone-900 rounded-2xl hover:scale-105 hover:ring-red-500 hover:bg-stone-900 transition-all duration-300">
            <div class="bg-stone-800 w-full rounded-t-2xl relative overflow-hidden">
                <img src="https://github.com/Noslepivy/The-Silksong-Speedrunning-Mega-Thread/blob/main/Gifs/General%20Movement/clawline-pogo-dash.gif?raw=true" class="object-cover overflow-hidden opacity-90">
            </div>
            <div class="text-white mx-5 mt-7 mb-5 flex flex-col gap-y-4 relative">
                <h1 class="text-2xl flex flex-wrap relative items-center">Title
                    <div class="right-0 absolute bg-yellow-900 text-[10px] text-center justify-center items-center font-bold ring-red-500 py-0.5 w-14 rounded-2xl">
                        Fleas</div></h1>
                <p class="text-gray-400 text-[13px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="grid grid-cols-3 gap-5 text-[12px] text-center">
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#movement</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#swift step</div>
                    <div class="ring-1 ring-red-500 h-5 rounded-2xl">#RP</div>
                </div>
                <button class="cursor-pointer w-full group transition-all duration-200 bg-red-500 py-2 rounded-2xl justify-center content-center absolute bottom-0 flex flex-row font-body font-light">See More
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right group-hover:pl-2 group-hover:scale-150 transition-all duration-200"><path d="m9 18 6-6-6-6"/></svg>
                </button>
            </div>
        </div>
    </div>
</Layout>