---

---

<div class="bg-stone-950 text-gray-300 h-20 w-full fixed content-center font-body grid grid-cols-[20%_60%_20%] px-20 z-90">
    <div class="text-white flex flex-row italic items-center font-bold h-full w-full text-2xl gap-1.5"><a href="/">SSS<span class="text-[#e63946]">ARCHIVE</span></a></div>
    <ul class="flex flex-row gap-5 text-[13px] justify-center text-gray-400">

        <!-- TRICKS -->
        <li class="relative flex flex-row gap-2 py-5 w-full cursor-pointer items-center justify-center hover:text-[#e63946] group transition-colors duration-300">
            <img src="https://cdn2.steamgriddb.com/icon/f0e95622d20a747e93f5403e5193b155/32/256x256.png" class="h-5 w-5 flex"/>
            <a href="/"><span>ANY%</span></a>

            <!-- Dropdown Menu -->
            <ul class="absolute top-full left-0 w-full bg-stone-950 hidden group-hover:block text-gray-400 z-50 shadow-lg">
                <a href="/tricks"><li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Tricks</li></a>
                <a href="/combat"><li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Combat</li></a>
                <a href="/movement"><li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Movement</li></a>
            </ul>
        </li>

        <!-- MOVEMENT -->
        <li class="relative flex flex-row gap-2 py-5 w-full cursor-pointer items-center justify-center hover:text-[#e63946] group transition-colors duration-300">
            <img src="https://cdn.wikimg.net/en/hkwiki/images/6/6e/Seek_Quest_Icon.png" class="h-7 w-7 flex"/>
            <span>TRUE ENDING</span>

            <!-- Dropdown Menu -->
            <ul class="absolute top-full left-0 w-full bg-stone-950 hidden group-hover:block text-gray-400 z-50 shadow-lg">
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors border-t border-stone-800">Tricks</li>
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Combat</li>
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Movement</li>
            </ul>
        </li>

        <!-- COMBAT -->
        <li class="relative flex flex-row gap-2 py-5 w-full cursor-pointer items-center justify-center hover:text-[#e63946] group transition-colors duration-300">
            <img src="https://cdn.wikimg.net/en/hkwiki/images/2/22/Icon_SS_Needolin.png" class="h-6 w-5 flex"/>
            <span>100%</span>

            <!-- Dropdown Menu -->
            <ul class="absolute top-full left-0 w-full bg-stone-950 hidden group-hover:block text-gray-400 z-50 shadow-lg">
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors border-t border-stone-800">Tricks</li>
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Combat</li>
                <li class="px-7 py-3 hover:bg-stone-900 hover:text-white transition-colors">Movement</li>
            </ul>
        </li>

        <!-- RESOURCES -->
        <li class="relative text-[#e63946] flex flex-row gap-2 py-5 w-full cursor-pointer items-center justify-center hover:text-[#e63946] group transition-colors duration-300">
            <img src="https://cdn.wikimg.net/en/hkwiki/images/thumb/f/ff/Quill_%28Silksong%29.png/91px-Quill_%28Silksong%29.png" class="h-6 w-5 flex"/>
            <a href="/resources"><span>RESOURCES</span></a>

            <!-- Dropdown Menu -->
            <ul class="absolute top-full left-0 w-full bg-stone-900 hidden group-hover:block text-gray-400 z-50 shadow-lg">
            </ul>
        </li>

    </ul>
    <div class="h-8 w-30 bg-[#5865f2] hover:scale-105 hover:shadow-md hover:shadow-white/10 transition-all duration-300  font-bold cursor-pointer text-[10px] flex justify-self-end self-center rounded items-center justify-center flex-row">
        <a href="https://discord.gg/KwYF5T4B56" class="flex flex-row justify-center items-center gap-2"><img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/discord-white-icon.png" class="h-5 w-5 flex"/>
        Join the Discord</a>
    </div>

</div>