---
import '/styles/global.css';
import HeaderComponent from "../components/headerComponent.astro";
import FooterComponent from "../components/footerComponent.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>HK Speedrun Resources</title>
	</head>
	<body class="bg-black animate-fade-in">
	<HeaderComponent />
		<slot />
	<FooterComponent />
	</body>
</html>
